@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
#menu-0 .navbar-toggler {
  color: #000;
}
#header4-1 H1 {
  font-size: 46px;
}










#menu-3 .navbar-toggler {
  color: #000;
}
#header1-h H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-9 H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-a H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-b H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-c H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-d H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-e H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-f H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-g H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-5m H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}










#menu-i .navbar-toggler {
  color: #000;
}
#header1-k H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-l H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-m H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-n H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-o H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-p H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-q H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-r H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-s H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-5l H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}









#menu-t .navbar-toggler {
  color: #000;
}
#header1-v H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-w H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-x H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-y H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-z H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-10 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-11 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-12 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-13 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}










#menu-14 .navbar-toggler {
  color: #000;
}
#header1-16 H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-17 H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-18 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-19 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1a H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1b H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1c H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1d H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1e H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-5n H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}










#menu-1f .navbar-toggler {
  color: #000;
}
#header1-1h H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-1i H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-1j H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1k H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1l H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1m H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1n H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1o H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1p H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-5o H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}









#menu-1q .navbar-toggler {
  color: #000;
}
#header1-1s H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-1t H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-1u H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1v H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1w H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1x H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1y H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-1z H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-20 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}










#menu-21 .navbar-toggler {
  color: #000;
}
#header1-23 H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-24 H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-25 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-26 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-27 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-28 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-29 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-2a H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-2b H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-5p H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}










#menu-2c .navbar-toggler {
  color: #000;
}
#header1-2e H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-2f H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-2g H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-2h H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-2i H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-2j H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-2k H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-2l H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-2m H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-5q H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#header4-2r H1 {
  text-align: left;
}
#content5-5t .mbr-section-title {
  font-size: 32px;
}
#menu-2n .navbar-toggler {
  color: #000;
}
#features1-2p H4 {
  color: #f1c050;
}









#menu-37 .navbar-toggler {
  color: #000;
}
#header1-39 H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-3a H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-3b H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3c H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3d H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3e H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3f H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3g H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3h H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}







#menu-3i .navbar-toggler {
  color: #000;
}
#header1-3k H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-3l H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-3m H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3n H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3o H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3p H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3q H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}








#menu-3t .navbar-toggler {
  color: #000;
}
#header1-3v H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-3w H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-3x H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3y H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-3z H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-40 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-41 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-42 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}










#menu-44 .navbar-toggler {
  color: #000;
}
#header1-46 H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-47 H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-48 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-49 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4a H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4b H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4c H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4d H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4e H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-5r H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}









#menu-4f .navbar-toggler {
  color: #000;
}
#header1-4h H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-4i H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-4j H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4k H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4l H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4m H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4n H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4o H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4p H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}









#menu-4q .navbar-toggler {
  color: #000;
}
#header1-4s H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-4t H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-4u H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4v H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4w H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4x H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4y H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-4z H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-50 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}









#menu-51 .navbar-toggler {
  color: #000;
}
#header1-53 H1 {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-54 H2 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box1-55 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-56 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-57 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-58 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-59 H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-5a H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#msg-box1-5b H2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#header4-5c H1 {
  text-align: left;
}
#menu-5e .navbar-toggler {
  color: #000;
}
#menu-5x .navbar-toggler {
  color: #000;
}
#menu-68 .navbar-toggler {
  color: #000;
}
#menu-6j .navbar-toggler {
  color: #000;
}
#menu-6t .navbar-toggler {
  color: #000;
}
